@import "tailwindcss";
@import "./styles/main.scss";

@theme {
    --color-primarycontrast-50: #dbeffa;
    --color-primarycontrast-100: #b7dff6;
    --color-primarycontrast-200: #6abceb;
    --color-primarycontrast-300: #229ce2;
    --color-primarycontrast-400: #156c9e;
    --color-primarycontrast-500: #0b3954;
    --color-primarycontrast-600: #092e44;
    --color-primarycontrast-700: #072232;
    --color-primarycontrast-800: #041620;
    --color-primarycontrast-900: #020c12;
    --color-primarycontrast-950: #010609;
}

@theme {
    --color-tertiary-50: #fefcfb;
    --color-tertiary-100: #fefcfb;
    --color-tertiary-200: #fdf7f2;
    --color-tertiary-300: #fcf4ee;
    --color-tertiary-400: #faeee5;
    --color-tertiary-500: #f9ebe0;
    --color-tertiary-600: #eab790;
    --color-tertiary-700: #db8543;
    --color-tertiary-800: #9e561f;
    --color-tertiary-900: #512c10;
    --color-tertiary-950: #261507;
}

@theme {
    --color-primary-50: #f6faea;
    --color-primary-100: #ecf6d5;
    --color-primary-200: #daecac;
    --color-primary-300: #c6e27e;
    --color-primary-400: #b3d954;
    --color-primary-500: #9fcc2e;
    --color-primary-600: #7fa225;
    --color-primary-700: #5e791b;
    --color-primary-800: #415313;
    --color-primary-900: #202a09;
    --color-primary-950: #101505;
}

@theme {
    --color-gray-50:  #f2f3f5;
    --color-gray-100: #e2e3e6;
    --color-gray-200: #c5c7cb;
    --color-gray-300: #a8aaaf;
    --color-gray-400: #8a8d94;
    --color-gray-500: #4d5057; /* Base Color */
    --color-gray-600: #43464c;
    --color-gray-700: #393c41;
    --color-gray-800: #2f3235;
    --color-gray-900: #25272a;
}


