@import "tailwindcss";
@import "./styles/main.scss";

@theme {
    --color-primary-50:  #f1f7f4;
    --color-primary-100: #e2eee8;
    --color-primary-200: #c5ddd1;
    --color-primary-300: #a7cbb8;
    --color-primary-400: #8ab9a0;
    --color-primary-500: #6da788; /* Basisfarbe */
    --color-primary-600: #5b8f73;
    --color-primary-700: #4a7b60;
    --color-primary-800: #38674c;
    --color-primary-900: #275340;
}

